.InactiveHeader {
    flex: 0;
    width: 100%;
    background: #333;

    text-align: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
}

.InactiveHeader p {
    flex: 10;
    margin: 8px 0 8px 0;
}

.InactiveHeader-top {
    display: flex;
    flex-direction: row;
}

.InactiveHeader-top button {
    flex: 1;
    margin: 10px;
    height: 40px;
    width: 50px;
}