.InactiveHeader {
    flex: 0;
    width: 100%;
    background: #333;

    display: flex;

    
    font-size: calc(10px + 2vmin);
}

.InactiveHeader-sidecolumn {
    flex: 0;
    min-width: 10%;

    display: flex;
    flex-direction: column;

    padding: 10px;
    text-align: center;
    align-items: center;
}

.InactiveHeader-centercolumn {
    flex: 1;

    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
}

.InactiveHeader p {
    flex: 10;
    margin: 8px 0 8px 0;
}


.InactiveHeader button {
    height: 40px;
    width: 100%;
}
