.PastSessionHeader {
    flex: 0;
    width: 100%;
    background: #333;

    display: flex;

    font-size: calc(10px + 2vmin);
}

.PastSessionHeader-sidecolumn {
    flex: 0;
    min-width: 10%;

    display: flex;
    flex-direction: column;

    padding: 10px;
    text-align: center;
    align-items: center;
}

.PastSessionHeader-centercolumn {
    flex: 1;

    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
}

.PastSessionHeader p {
    flex: 10;
    margin: 8px 0 8px 0;
}

.PastSessionHeader-text {
    font-size: 18px;
}

.PastSessionHeader button {
    height: 40px;
    width: 100%;
}


