.LoginView {
    display: flex;
    flex-direction: column;
    width: 100%;

    text-align: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
}

.LoginView input {
    margin-bottom: 10px;
    padding: 5px;
    width: 20%;

    border: 1px solid #ffcc33;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

.LoginView p {
    color: #ffcc33;
    margin: 15px;
    word-break: break-word;
}

.LoginView button {
    padding: 5px;
    width: 20%;

    border: 1px solid #ffcc33;
    border-radius: 5px;
}

.LoginView button:hover {
    background-color: #bbb;
}

.LoginView button:active {
    background-color: #888;
}