.ClassroomView {
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;
    font-size: calc(10px + 2vmin);
}


.ClassroomView p {
    color: #ffcc33;
    word-break: break-word;
}

.ClassroomView-attendances {
    padding-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    row-gap: 20px;
    justify-content: space-around;
}

.ClassroomView-history {
    padding-top: 20px;
    width: 100%;

    display: block;
}

.ClassroomView-historyTitle {
    text-align: left;
    width: auto;
    margin: 0 20px 0 20px;
}

.ClassroomView button {
    border: 1px solid #ffcc33;
    border-radius: 5px;
}

.ClassroomView button:hover {
    background-color: #bbb;
}

.ClassroomView button:active {
    background-color: #888;
}