.ClassroomBlock {
    flex: 0;
    height: 100px;

    display: flex;
    flex-direction: row;

    width: auto;
    margin: 10px;

    border: 3px solid #ffcc33;
    border-radius: 20px;
    background: #333;
}

.ClassroomBlock:hover {
    background: #555;
}

.ClassroomBlock:active {
    background: #444;
}

.ClassroomBlock-subsection {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ClassroomBlock-text {
    margin: 0;
    padding: 0;
    text-align: left;
    
    font-size: 16px;
}

.ClassroomBlock-boldtext {
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 5px;
}

.ClassroomBlock-arrow {
    content: url('https://api.iconify.design/si-glyph:arrow-right.svg?color=%23ffcc33&height=40');
    vertical-align: -0.125em;
    padding-right: 15px;
}